h1{
    display: flex;
    justify-content: center;
    color: #399918;
    font-family:fantasy;
}
#one{
    background-color: black;
}
#two{
    border-right:10px;
    margin-right: 850px;
}
#profile{
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 1200px;
    font-size: 18px;
}
#navbarSupportedContent{
    display: flex;
    justify-content: center;
    
}
#threedot{
    padding-left: 20px;
    padding-right: 10px;
    background-color: #399918;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.container-fluid{
    background-color: black;
    padding-top: 10px;
}
.sidebox{
    border-right: 10px solid black;
}
body{
    background-color: black;
}
#vertical{
    color: white;
}
.dropdown-menu{
    background-color: black;
    color: white;
}
.dropdown-item{
    color: white;
}
#settings{
    float: right;
}
.nav-link{
    color: green;
}
#signup{
    float: right;
    border-radius: 10%;
    background-color: green;
    color: white;
}
#signin{
    float: right;
    border-radius: 10%;
    background-color: green;
    color: white
}
#three{
  position: relative;
  left: 200px;
  bottom: 250px;
}
.card-img-top{
    width: 285px;
    height: 200px;
}
.card-body{
    width: 290px;

}
